# Flutter/Dart 관련 무시 항목
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# iOS 관련 무시 항목
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/

# macOS 관련
macos/Flutter/ephemeral/

# Android 관련
android/.gradle/
android/app/debug/
android/app/release/

# VSCode 설정
.vscode/

# Xcode 빌드 파일
*.xcworkspace/
xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# 기타
.idea/
*.iml
*.log
*.tmp

# PlatformIO 관련 무시 항목
.pio/
.vscode/

